# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


# Ignore the covrage analyses
coverage.out

# Ignore executables
example/get_sn/get_sn
example/get_sn_lite/get_sn_lite
example/key33220/key33220
example/keyu2751a/keyu2751a
